@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.voirHotels{
    width: 40vw;
    height: 50px;
    font-size: 32px;
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
}

.voirHotels:hover{
    cursor: pointer;
}

.fieldset-ajout-hotel{
    margin-top: 50px;
    width: 40vw;
    height: 500px;
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    -webkit-box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.62); 
    box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.62);
    
}

.h2ajout{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 24px;
    text-decoration: underline;
}

.fieldset-ajout-hotel label{
    font-size: 16px;
    margin-left: 50px;
}

.fieldset-ajout-hotel input[type=text]{
    margin-left: 50px;
    height: 20px;
    border: none;
    border-bottom: 2px solid black;
    width: 300px;
    margin-bottom: 12px;
    outline: none;
}

.fieldset-ajout-hotel input[type=submit]{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 10vw;
    height: 28px;
}

.justify-div{
    display: flex;
    justify-content: space-between;
}

.justify-div img{
    transform: rotate(-90deg);
    width: auto;
    height: 100px;
    align-self: center;
    margin-right: 100px;
}